SPED: To signal in ICE options or not?

This has been a discussion item for many months, but doesn't seem to have made it to an issue.
The advantages of an SDP ICE option are:
- It allows to be certain that the other end supports the mechanism
- By varying the token value, it is easy to support "pre-spec-release" versions of the mechanism even if attribute IDs are the same between versions
- It doesn't exercise the mechanism for throwing away "comprehension optional" attributes in ICE

The disadvantages are:
- It clutters up SDP
- It ties deployment of the mechanism to SDP-based applications (but dependency on fingerprint does that anyway)

Thoughts?



+1

my recollection from https://webrtc-review.googlesource.com/c/src/+/428980 and its precedessor:
* ice-option is useful for the answerer who can make decisions based on the SDP
* ice-option is less useful for the offerer, in particular it does need to be prepared to discover peer support from remote STUN packets. Using an ice-option lets us use comprehension-required attributes though. A "full ice" answerer acting as DTLS server will need to include an empty attribute to signal "I support this, do not turn this off" in any binding request it sends arriving at the  offerer before the SDP answer. See also #9 
* we need interpretation whether ice-options are declarative or negotiate. Existing ones are declarative (i.e. added in answers without looking at the offer) but https://www.rfc-editor.org/rfc/rfc8839#section-5.6 suggests that is not the right interpretation.
* Non-spec stuff in token-value...

Old text can be found in https://github.com/fippo/warp-snap-sped/pull/2/changes, https://fippo.github.io/warp-snap-sped/sped/draft-hancke-webrtc-sped.html#name-sdp-offer-answer-procedures shows it (I don't understand how this works but ... it does)

RFC 8839 indicates that it's up to the extension spec to define exactly how signaling should work. I think the "negotiate" approach (ie answerer only adds the option if the offerer has already signaled it and answerer wants to use it) is the most sensible one.

Jonas feels that we should keep the options in the comp-optional range because use of SPED is always optional, and making the attribs required just makes life more complicated.

I agree with comprehension-optional. If there was ever a mistake that led to a comp-required attribute being fired at someone who didn't understand it, the result would be a total loss of the message. Comp-optional just means the feature doesn't work.

(See fippo's recent work on message-integrity-sha256, where this work was not finished - it's a comp-required attribute).


I agree as well. There's no need to use 420 errors to detect support, and ignoring the embedded data or acks is always permissible.

comp-required is actually quite tricky even with ice-options. If a binding request arrives before the answer (and creates a prflx candidate) and trigger "looks like peer supports x" and the subsequent answer contradicts that ... thankfully an edge case that is not relevant in practice.

No change required, comprehension-optional was and is fine.

Chromium emits:

a=ice-options:trickle goog-sped-v1

This is not conformant with the existing ICE SDP grammar.

RFC 8839 Section 5.6 defines:

  ice-option-tag = 1*ice-char

RFC 6336 defines:

  ice-char = ALPHA / DIGIT / "+" / "/"

The "-" characters in "goog-sped-v1" are therefore not valid in an
ice-option-tag.

If SDP ICE option signaling is intended for SPED, the token needs to conform
to the existing grammar.